@font-face {
  font-family: 'Sf';
  src: url('./assets/fonts/SfPro.ttf') format('truetype');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Sf;
}
body {
  background-color: #eaeaf8;
}
